.header-user-info {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 2.4rem;
  margin-bottom: 4.8rem;
}

.user-avatar {
  grid-column: 1 / 1;
  grid-row: 1 / -1;
}

.user-avatar img {
  max-height: 8.6rem;
}

.user-name {
  align-self: self-end;
  justify-self: start;
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
}

.user-balance {
  align-self: self-start;
  justify-self: start;
  font-size: 1.4rem;
  font-weight: 600;
}

.user-balance span {
  font-weight: 700;
  color: #000;
}
