.nav-item svg {
  margin-right: 1.2rem;
}

.nav-item {
  cursor: pointer;
  width: 100%;
}

.nav-item:hover {
  background-color: rgba(219, 228, 255, 0.5);
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-item a {
  text-decoration: none;
  color: #555;
  display: block;
  padding: 1.6rem 1.6rem;
}

.nav-item a.active {
  color: #000;
  border-left: 5px solid #000;
}
