.message {
  padding: 0.8rem 1.6rem;
  background-color: #f8f9fa;
  color: #000;
  border-radius: 9px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4.8rem 4.8rem rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  color: #51cf66;
  border: 1px solid #51cf66;
}

.error {
  color: #f03e3e;
  border: 1px solid #f03e3e;
}

.icon {
  margin-left: 0.8rem;
}

.message button {
  outline: none;
  font-size: 2rem;
  border: none;
  padding: 0.8rem 0.8rem;
  cursor: pointer;
  background-color: transparent;
  margin-left: 1.6rem;
}

.message button:hover {
  background-color: #f1f3f5;
}
