.main {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 4.8rem 4.8rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 2.4rem;
  overflow: auto;
}

/**************************/
/* Ниже 1072px  */
/**************************/

@media (max-width: 67em) {
  .main {
    border-radius: 0;
    padding-top: 88px;
  }
}
