.login-sign-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  overflow-y: auto;
  box-shadow: 0 4.8rem 4.8rem rgba(0, 0, 0, 0.1);
}

.login-sign-up form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
  padding: 3.2rem;
  background-color: #fff;
}

.login-sign-up h1 {
  font-size: 2.4rem;
  color: #000;
  font-weight: 700;
}

.login-sign-up form div {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.login-sign-up form div div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.login-sign-up form label {
  font-size: 1.8rem;
}

.login-sign-up form input,
.login-sign-up form select {
  width: 100%;
  outline: none;
  font-size: 1.6rem;
  color: #000;
  border-radius: 9px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.4rem 0.8rem;
}

.login-sign-up form button {
  cursor: pointer;
  outline: none;
  border-radius: 9px;
  padding: 0.8rem 1.6rem;
  font-size: 2rem;
  font-weight: 600;
  box-shadow: 0 4.8rem 4.8rem rgba(0, 0, 0, 0.1);
  background-color: #edf2ff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.login-sign-up button:hover {
  background-color: #dbe4ff;
}
