.navbar {
  font-size: 1.8rem;
  font-weight: 600;
  height: 100%;
}

.nav-list {
  height: 100%;
  display: flex;
  align-items: start;
  flex-flow: column;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
}

.nav-list svg {
  margin-right: 1.2rem;
}

.nav-list li {
  cursor: pointer;
  width: 100%;
}

.nav-list li:hover {
  background-color: rgba(219, 228, 255, 0.5);
}

.nav-list li:last-child {
  margin-top: auto;
}

.nav-list li a,
.nav-list li button {
  cursor: pointer;
  text-decoration: none;
  color: #555;
  display: block;
  padding: 1.6rem 1.6rem;
}

.nav-list li a.active {
  color: #000;
  border-left: 5px solid #000;
}

.nav-list li button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
  height: 100%;
  display: flex;
  justify-self: left;
  align-self: flex-start;
}

.nav-list li button svg {
  margin-right: 1.2rem;
}

/**************************/
/* Ниже 1264px */
/**************************/
@media (max-width: 79em) {
  .nav-list {
    gap: 3.2rem;
  }
}

/**************************/
/* Ниже 1072px  */
/**************************/

@media (max-width: 67em) {
  .navbar,
  .nav-list li button {
    font-size: 3rem;
  }

  .nav-list {
    gap: 2.4rem;
  }
}
