.incomes {
    display: block;
    background-color: #fff;
}
.default{
    display: flex;
    flex-direction: row;
    position:static;
    background-color:  #fff;
}
.box{
    height: 60rem;
    width: 85rem;
    display: flex;
    position:static;
    flex-direction: column;
    overflow:auto;
    overflow-x:hidden;
    justify-content: right;
    align-items: right;
    background-color: #fff;
}