.incomes {
    display: block;
}
.default{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;
    position:static;
}
.box{
    height: 60rem;
    width: 85rem;
    display: flex;
    position:static;
    flex-direction: column;
    overflow:auto;
    overflow-x:hidden;
}