.app {
  padding: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  gap: 3.6rem;
  height: 100vh;
}

/**************************/
/* Ниже 1072px  */
/**************************/

@media (max-width: 67em) {
  .app {
    padding: 0rem;
    gap: 0rem;
    grid-template-columns: 0 1fr;
  }
}
