.app {
  padding: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.6rem;
  height: 100vh;
  background-color: #edf2ff;
}

/**************************/
/* Ниже 1072px  */
/**************************/

@media (max-width: 67em) {
  .app {
    padding: 0rem;
    gap: 0rem;
  }
}
